<div class="container section">
  <h2><%= @section.section%></h2>

  <%= link_to("<< Back to Section List", sections_path, class:'btn btn-primary') %>
  <% if @grades.present? %>
  <h3>Listing grades</h3>
  <table class="table">
    <tr>
      <th>Grade</th>
      <th></th>
      <% if admin? %>
        <th>Edit</th>
        <th>Destroy</th>
      <% end %>
    </tr>

  <% @grades.each do |grade| %>
    <tr>
      <td><%= grade.grade %></td>
      <td><strong><%= link_to 'Check All Candidates', [grade.section, grade] %></strong></td>
      <% if admin? %>
      <td><%= link_to 'Edit', edit_section_grade_path(grade.section, grade) %></td>
      <td><%= link_to 'Destroy', [grade.section, grade], :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    </tr>
  <% end %>
  </table>

  <% end %>

  <br />

  <% if admin?%>
    <%= link_to 'New Grade', new_section_grade_path(@section), class:'btn btn-primary' %>
  <% end %>

</div>

<%= render 'welcome/footer' %>
