<div class="container section">
  <%= link_to("<< Back to Sections List", sections_path) %>
  <h2>GRADE :<%= @grade.grade %></h2>
  <br>
  <% if current_user.admin? %>
    <% if @candidates.present? %>
      <h3>Candidates List : </h3>
      <div class="table-responsive container candidates">
        <table class="table">
          <tr>
            <th>candidate id</th>
            <th>Candidatename</th>
            <th>Education</th>
            <th>Full Details</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <% @candidates.each do |candidate| %>
          <tr>
            <td>Mt-<%= candidate.id %></td>
            <td><%= candidate.candidate_name %></td>
            <td><%= candidate.education %></td>
            <td><%= link_to("Click Here", grade_candidate_path(@grade.id,candidate))%></td>
            <td><%= link_to("Edit", edit_grade_candidate_path(@grade.id,candidate))%></td>
            <td><%= link_to 'Delete', [candidate.grade, candidate], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <% else %>
        <div class="section">
          <h4><strong>No Candidates to Show</strong></h4>
        </div>
    <% end %>

  <% else %>
    <% if @candidates.present? %>
      <h3>Candidates List : </h3>
      <div class="table-responsive container candidates">
        <table class="table">
          <tr>
            <th>candidate id</th>
            <th>Candidatename</th>
            <th>Education</th>
            <th>Full Details</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <% @candidates.each do |candidate| %>
          <tr>
            <td>Mt-<%= candidate.id %></td>
            <td><%= candidate.candidate_name %></td>
            <td><%= candidate.education %></td>
            <td><%= link_to("Click Here", grade_candidate_path(@grade.id,candidate))%></td>
            <% if candidate.application_status =="ACCEPTED" %>
              <td>N.A</td>
            <% elsif candidate.application_status =="REJECTED" %>
              <td>N.A</td>
            <% else %>
              <td><%= link_to("Edit", edit_grade_candidate_path(@grade.id,candidate))%></td>
            <% end %>
            <td><%= link_to 'Delete', [candidate.grade, candidate], method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <% end %>
      <%= link_to 'Add New Candidate', new_section_candidate_path(@section), class:'btn btn-primary' %>
  <% end %>
</div>

<div class="empty">
  <%= render 'welcome/footer'%>
</div>
