<div class="container">
  <%= form_for(notice) do |f| %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :details %>
      <%= f.text_field :details , class:"form-control" %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>
