<div class="container">
  <%= form_for(notice) do |f| %>

    <div class="field">
      <%= f.label :shortlisting %>
      <%= f.text_field :shortlisting, class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :interview %>
      <%= f.text_field :interview , class:"form-control" %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>
