<%= render 'welcome/navigation'%>

<div class="container update">
  <p>
    <strong>Shortlisting:</strong>
    <%= @notice.shortlisting %>
  </p>

  <p>
    <strong>Interview:</strong>
    <%= @notice.interview %>
  </p>

  <%= link_to 'Edit', edit_notice_path(@notice) %> |
  <%= link_to 'Back', notices_path %>

</div>

<%= render 'welcome/footer' %>
