<div class="container">
  <%= form_for section do |form| %>

  <% if section.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

    <ul>
      <% section.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :section %>
    <%= form.text_field :section, class: 'form-control' , required: 'required' %>
  </div>



    <h3 class="mt-10">ADD GRADES FROM BELOW:</h3>
      <div class="field">
        <%= hidden_field_tag "section[grade_ids][]",nil%>
        <% Grade.all.each do |grade| %>
          <%= check_box_tag "section[grade_ids][]" , grade.id,@section.grade_ids.include?(grade.id),id:dom_id(grade)%>            <%= label_tag dom_id(grade) , grade.grade%><br>
        <% end %>
      </div>

  <div class="actions mt-4 text-center">
    <%= form.submit %>
  </div>
  <% end %>
</div>
