<div class="container section">
  <p id="notice"><%= notice %></p>

  <h1>Sections</h1>

  <% if @sections.present? %>
  <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <% if admin?%>
              <th>Section id</th>
            <% end %>
            <th>Section</th>
            <th></th>
            <% if admin? %>
              <th>Edit</th>
              <th>Destroy</th>
            <% end %>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @sections.each do |section| %>
            <tr>
                <% if admin?%>
                  <td><%= section.id %></td>
                  <td><%= section.section %></td>
                  <td><strong><%= link_to 'Check Grades' , section%></strong></td>
                  <td><%= link_to 'Edit Section', edit_section_path(section) %></td>
                  <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% else %>
                  <% if section.grades.count!=0%>
                    <td><%= section.section %></td>
                    <td><strong><%= link_to 'Check Grades' , section%></strong></td>
                  <% end %>
                <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <%else%>
    <h3 class="details">No Sections Available</h3>
  <% end %>

  <% if admin?%>
    <%= link_to 'Add Section', new_section_path,class:'btn btn-primary' %>
  <% end %>
</div>

<%= render 'welcome/footer' %>
