<div class="container section">
  <h2><%= @section.section%></h2>

  <%= link_to("<< Back to Section List", sections_path, class:'btn btn-primary') %>
  <h3>Listing grades</h3>
  <table class="table">
    <tr>
      <th>Grade</th>
      <th></th>
      <th>No. of candidates Added</th>
    </tr>

    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.grade %></td>
        <td><strong><%= link_to 'Apply for Admission', [grade] %></strong></td>
        <td><%= grade.candidates.count %></td>
      </tr>
    <% end %>
  </table>

</div>

<%= render 'welcome/footer' %>
