<div class="container section">
  <h2><%= @section.section%></h2>

  <%= link_to("<< Back to Section List", sections_path, class:'btn btn-primary') %>
  <% if @grades.present? %>
  <h3>Listing grades</h3>
  <table class="table">
    <tr>
      <% if admin?%>
        <th>Grade Id:</th>
      <% end %>
      <th>Grade</th>
      <th></th>
    </tr>

  <% @grades.each do |grade| %>
    <tr>
      <% if admin?%>
        <td><%= grade.id %></td>
      <% end %>
      <td><%= grade.grade %></td>
      <td><strong><%= link_to 'Check All Candidates', [grade] %></strong></td>
    </tr>
  <% end %>
  </table>
  <% else %>
    <h5>No grades has been added</h5>
  <% end %>

</div>

<%= render 'welcome/footer' %>
