<nav class="navbar navbar-expand-md ">

    <span class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
      <img src="http://i65.tinypic.com/11cb3v7.jpg" alt="">
    </span>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <div class="container">
        <ul class="navbar-nav d-flex justify-content-around">
          <li class="nav-item nav-style">
            <%= link_to 'Home', welcome_path , class:"nav-link" %>
          </li>
          <li class="nav-item nav-style">
            <%= link_to 'Achievements', achievements_path , class:"nav-link" %>
          </li>
          <li class="dropdown nav-item">
            <span class="dropdown-toggle nav-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admission
            </span>
            <div class="dropdown-menu drop" aria-labelledby="dropdownMenu1">
              <%= link_to 'New Registration', new_user_candidate_path(current_user) %>
              <%= link_to 'All registrations', user_candidates_path(current_user) %>
              <%= link_to 'Eligibility' , eligibilities_path %>
              <%= link_to 'Information' , information_path %>
              <%= link_to 'Notices' , notices_path %>
              <%= link_to 'Fee Structure' , fee_path %>
            </div>
          </li>
        </ul>
      </div>
    </div>

</nav>
