<div class="container">
  <%= form_for ([@candidate.grade, @candidate]) do |f| %>

  <% if @candidate.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

    <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :candidate_name %>
    <%= f.text_field :candidate_name , class: 'form-control' , required: 'required' %>
  </div>

  <div class="field">
    <%= f.label :last_education %>
    <!-- <%= f.text_field :education , class: 'form-control' %> -->
    <% if @grade.grade == "Kindergarten Section" || @grade.grade=="1"%>
      <%= f.select(:education, ['Not Applicable']) %>
    <% elsif @grade.grade == "2" %>
      <%= f.select(:education, ['1']) %>
    <% elsif @grade.grade == "3" %>
      <%= f.select(:education, ['1','2']) %>
    <% elsif @grade.grade == "4" %>
        <%= f.select(:education, ['2','3']) %>
    <% elsif @grade.grade == "5" %>
      <%= f.select(:education, ['3','4']) %>
    <% elsif @grade.grade == "6" %>
      <%= f.select(:education, ['4','5']) %>
    <% elsif @grade.grade == "7" %>
      <%= f.select(:education, ['5','6']) %>
    <% elsif @grade.grade == "8" %>
      <%= f.select(:education, ['6','7']) %>
    <% elsif @grade.grade == "9" %>
      <%= f.select(:education, ['7','8']) %>
    <% elsif @grade.grade == "10" %>
      <%= f.select(:education, ['8','9']) %>
    <% elsif @grade.grade == "11" %>
      <%= f.select(:education, ['10']) %>
    <% elsif @grade.grade == "12" %>
      <%= f.select(:education, ['11']) %>
    <% end %>
  </div>

  <div class="field">
      <% if @candidate.passport_size_photo? %>
        <%= f.label :passport_size_photo  %>
        <span><strong> : <%= image_tag @candidate.passport_size_photo.thumb.url %></strong></span>
        <h6><strong>Or Update photo</strong></h6>
        <%= f.file_field :photo , class: 'form-control' %>
      <% else %>
        <%= f.label :passport_size_photo %>
        <%= f.file_field :passport_size_photo , class: 'form-control' , required: 'required' %>
      <% end %>
    </div>

  <div class="field">
    <%= f.label :father_name %>
    <%= f.text_field :father_name , class: 'form-control' , required: 'required' %>
  </div>

  <div class="field">
    <%= f.label :mother_name %>
    <%= f.text_field :mother_name , class: 'form-control' , required: 'required'  %>
  </div>

  <div class="field">
    <%= f.label :contact_address %>
    <%= f.text_field :contact_address , class: 'form-control' , required: 'required'  %>
  </div>

  <div class="field">
    <%= f.label :father_contact_number %>
    <%= f.text_field :contact_father , class: 'form-control' , required: 'required',type: 'number',min:'0' %>
  </div>

  <div class="field">
    <%= f.label :mother_contact_number %>
    <%= f.text_field :contact_mother , class: 'form-control' , required: 'required' ,type: 'number',min:'0'%>
  </div>

  <div class="field">
      <% unless @grade.grade == "Kindergarten Section" || @grade.grade=='1' %>
      <% if @candidate.previous_grade_marksheet? %>
        <%= f.label :previous_grade_marksheet %>
        <!-- <span>=><strong><%=  @candidate.previous_grade_marksheet.url %></strong></span> -->
        <span>=> <iframe src=<%=  @candidate.previous_grade_marksheet.url %> width="400" height="400" style="border: none;"></iframe></span>
        <h6><strong>Or Update marksheet</strong></h6>
        <%= f.file_field :previous_grade_marksheet , class: 'form-control' %>
      <% else %>
        <%= f.label :previous_grade_marksheet %>
        <%= f.file_field :previous_grade_marksheet , class: 'form-control' %>
      <% end %>
    <% end %>
  </div>

  <% if admin? %>
    <% if @candidate.application_status.present? %>
    <% else %>
      <div class="field">
        <%= f.label :application_status %>
        <%= f.select(:application_status,['ACCEPTED','REJECTED'])%>
      </div>
    <% end %>

    <% if @candidate.application_status== 'ACCEPTED'%>

        <% if @candidate.payment_status.present? and @candidate.payment_status=='COMPLETED'%>


          <div class="field">
            <h2>Payment receipt :</h2>
            <% if @candidate.receipt? %>
              <!-- <%= f.label :Payment_Receipt %> -->
              <span><iframe src=<%=  @candidate.receipt.url %> width="400" height="400" style="border: none;"></iframe></span>
              <!-- <h6><strong>Or Update Payment_Receipt</strong></h6>
              <%= f.file_field :receipt, class: 'form-control' %> -->
            <% else %>
              <%= f.label :Payment_Receipt %>
              <%= f.file_field :receipt , class: 'form-control' %>
            <% end %>
          </div>



          <div class="field">
            <%= f.label :appointment_date %>
            <%= f.date_field :appointment_date ,value: @candidate.appointment_date, class: 'form-control'  %>
          </div>

          <div class="field">
            <%= f.label :appointment_time %>
            <%= f.time_field :appointment_time ,value: @candidate.appointment_time, class: 'form-control'  %>
          </div>

          <div class="field">
            <%= f.label :appointment_place %>
            <%= f.text_field :appointment_place, class: 'form-control'  %>
          </div>

        <% else %>
          <div class="field">
            <%= f.label :payment_status %>
            <%= f.select(:payment_status,['NOT COMPLETE','COMPLETED'])%>
          </div>
        <% end %>

        <% elsif @candidate.application_status=="REJECTED"%>
          <div class="field">
            <%= f.label :reason %>
            <%= f.text_field :reason , class: 'form-control'  %>
          </div>
    <% end %>

  <% end %>

  <!-- <%= render 'candidates/newshow' %> -->

  <div class="actions section text-center">
    <%= f.submit %>
  </div>

  <% end %>

</div>
