<div class="table-responsive container candidates section">
    <h1>Accepted Candidates List</h1>

    <table class="table">
      <tr>
        <th class="text-primary">Section id</th>
        <th class="text-danger">Grade Applied For:</th>
        <th>candidate id</th>
        <th>Candidatename</th>
        <th>Appointment date</th>
        <th>Appointment time</th>
        <th>Appointment place</th>
        <th>Action</th>
      </tr>

    <% @candidates.each do |candidate| %>
      <tr>
        <!-- <% if candidate.application_status=="ACCEPTED" %> -->
          <td><%= candidate.section_id %></td>
          <td><%= candidate.education %></td>
          <td><%= candidate.id %></td>
          <td><%= candidate.candidate_name %></td>
          <td><%= candidate.appointment_date %></td>
          <td><%= candidate.appointment_time %></td>
          <td><%= candidate.appointment_place %></td>
          <td><strong><%= link_to 'Edit', edit_section_candidate_path(candidate.section, candidate) %></strong></td>
        <!-- <% end %> -->
      </tr>
    <% end %>
    </table>

</div>

<%= render 'welcome/footer' %>
