<div class="container">

  <h1>Editing Candidate</h1>

  <%= render 'form', candidate: [@candidate] %>

  <%= link_to 'Show', [@candidate.grade, @candidate] %> |
  <%= link_to 'Back To Candidates List',  [@grade] %> |
  <% if admin?%>
    <%= link_to 'Accepted Candidates List',appointment_path%>
  <% end %>

</div>

<%= render 'welcome/footer' %>
