<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Class Applied For:</strong></td>
          <td><%= @candidate.grade.grade %></td>
        </tr>
        <tr>
          <td><strong>Candidatename:</strong></td>
          <td><%= @candidate.candidate_name %></td>
        </tr>
        <tr>
          <td><strong>Education:</strong></td>
          <td><%= @candidate.education %></td>
        </tr>
        <tr>
          <td><strong>Passportsizephoto:</strong></td>
          <td><%= image_tag @candidate.passport_size_photo.thumb.url %></td>
        </tr>
        <tr>
          <td><strong>Fathername:</strong></td>
          <td><%= @candidate.father_name %></td>
        </tr>
        <tr>
          <td><strong>Mothername:</strong></td>
          <td><%= @candidate.mother_name %></td>
        </tr>
        <tr>
          <td><strong>Contactaddress:</strong></td>
          <td><%= @candidate.contact_address %></td>
        </tr>
        <tr>
          <td><strong>Fathercontactnumber:</strong></td>
          <td><%= @candidate.contact_father %></td>
        </tr>
        <tr>
          <td><strong>Mothercontactnumber:</strong></td>
          <td><%= @candidate.contact_mother %></td>
        </tr>
        <tr>
          <td><strong>Previous grade marksheet:</strong></td>
          <!-- <td><%= @candidate.previous_grade_marksheet.url %></td> -->
          <% if @candidate.previous_grade_marksheet.present? %>
            <td><iframe src=<%= @candidate.previous_grade_marksheet.url %> width="400" height="400" style="border: none;"></iframe></td>
          <% else %>
            <td><%= @candidate.previous_grade_marksheet.url %></td>
          <% end %>
        </tr>
        <tr>
          <% if @candidate.application_status=="REJECTED" %>
            <tr>
              <td><strong>Appllication status:</strong></td>
              <td><%= @candidate.application_status.url %></td>
            </tr>
            <% if @candidate.reason.present?%>
              <td><strong>Reason :</strong></td>
              <td><%= @candidate.reason %></td>
            <% end %>
          <% elsif @candidate.application_status=="ACCEPTED"%>
            <tr>
              <td><strong>Appllication status:</strong></td>
              <td><%= @candidate.application_status %></td>
            </tr>
            <tr>
              <% if @candidate.payment_status== 'COMPLETED' %>
                <td><strong>Payment Status : </strong></td>
                <td>Payment has been done for the candidate</td>
                <% if @candidate.receipt.present? %>
                  <tr>
                    <td><strong>Payment Recipt :</strong></td>
                    <!-- <td><%= @candidate.receipt.url %></td> -->
                    <td><iframe src=<%=  @candidate.receipt.url %> width="400" height="400" style="border: none;"></iframe></td>

                  </tr>
                <% end %>
                <% if @candidate.appointment_date.present? %>
                  <tr>
                    <td><strong>Appointment Date</strong></td>
                    <td><%= @candidate.appointment_date %></td>
                  </tr>
                <% end %>
                <% if @candidate.appointment_time.present? %>
                  <tr>
                    <td><strong>Appointment Time</strong></td>
                    <td><%= @candidate.appointment_time %></td>
                  </tr>
                <% end %>
                <% if @candidate.appointment_place.present? %>
                  <tr>
                    <td><strong>Appointment Place</strong></td>
                    <td><%= @candidate.appointment_place%></td>
                  </tr>
                <% end %>
              <% else %>
                <td><strong>For Payment :</strong></td>
                <td><%= link_to 'Click Here' , new_payment_path(@candidate) %></td>
              <% end %>
            </tr>
          <% else %>
            <td><strong>Appllication status:</strong></td>
            <td><%= @candidate.application_status = 'Under Process'%></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <% if admin?%>
    <strong><%= link_to 'Edit', edit_grade_candidate_path(@candidate.grade, @candidate) %> |</strong>
  <% else %>
    <% if @candidate.application_status=="REJECTED" %>
    <% elsif  @candidate.application_status=="ACCEPTED" %>
    <% else %>
      <strong><%= link_to 'Edit', edit_grade_candidate_path(@candidate.grade, @candidate) %> |</strong>
    <% end %>
  <% end %>



  <strong><%= link_to 'Back To Candidates List',  [ @grade] %></strong>
</div>

<%= render 'welcome/footer' %>
