<div class="container section">
  <p id="notice"><%= notice %></p>

  <h1>Payments Done For:</h1>

  <table class="table">
    <thead>
      <tr>
        <th class="text-primary">Section id</th>
        <th class="text-danger">Grade</th>
        <th>Candidate_id:</th>
        <th>Candidate name:</th>
        <th>Payment</th>
        <th>Payment Receipt</th>
      </tr>
    </thead>

    <tbody>
      <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.candidate.section_id %></td>
          <td><%= payment.candidate.education %></td>
          <td><%= payment.candidate_id %></td>
          <td><%= payment.candidate.candidate_name %></td>
          <td>Done</td>
          <% if payment.candidate.receipt.present? %>
            <td>Received By User</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%= render 'welcome/footer'%>
