<div class="container">
  <%= form_for(eligibility) do |f| %>

  <% if @eligibility.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@eligibility.errors.count, "error") %> prohibited this candidate from being saved:</h2>

    <ul>
      <% @eligibility.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :section %>
    <%= f.select(:section,Eligibility::ELIGIBILITY) %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth_till %>
    <%= f.date_field :date_of_birth_till ,value:@eligibility.date_of_birth_till,class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age ,class:'form-control' %>
  </div>

  <div class="field">
    <%= f.label :date_as_on %>
    <%= f.date_field :date_as_on ,value:@eligibility.date_as_on,class:'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>

</div>
