<div class="container update">
  <p>
    <strong>Section:</strong>
    <%= @eligibility.section %>
  </p>

  <p>
    <strong>Dateofbirthtill:</strong>
    <%= @eligibility.date_of_birth_till %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @eligibility.age %>
  </p>

  <p>
    <strong>Dateason:</strong>
    <%= @eligibility.date_as_on %>
  </p>

  <%= link_to 'Edit', edit_eligibility_path(@eligibility) %> |
  <%= link_to 'Back', eligibilities_path %>

</div>

<%= render 'welcome/footer' %>
