<header>
  <nav class="navbar navbar-expand-lg mt-3 mb-3">

    <div class="container">

      <img src="http://i63.tinypic.com/20zptmh.jpg" alt="logo" class="logo">
      <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-primary"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav nav-fill w-100">

          <% if logged_in? %>
            <li class="nav-item">
              <%= link_to 'Home', welcome_path , class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Achievements', achievements_path , class:"nav-link" %>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admission
              </a>
              <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
                <% if admin?%>
                  <%= link_to 'All Sections', sections_path %>
                  <%= link_to 'All Payments List', index_path%>
                  <%= link_to 'Accepted Candidates',appointment_path %>
                  <!-- <%= link_to 'All Grades',grades_path%> -->
                <% else %>
                  <%= link_to 'Check Sections', sections_path %>
                <% end %>
                <%= link_to 'Eligibility' , eligibilities_path %>
                <%= link_to 'Information' , information_path %>
                <%= link_to 'Admission Notice' , notices_path %>
                <%= link_to 'Fee Structure' , fees_path %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= @current_user.name %>
              </a>
              <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
                  <h4></h4>
                  <%= link_to "Edit profile",edit_user_path(current_user) %>
                  <%= link_to "Log out", logout_path, method: :delete %>
              </div>
            </li>
            <%else%>
              <h3 class="mx-auto"><%= link_to "Log in", login_path %></h3>
              <h3 class="mx-auto"><%= link_to "Sign up", signup_path %></h3>
          <% end %>
        </ul>
      </div>

    </div>

  </nav>

</header>
